<template>
  <div class="main">
    <div class="user">
      <el-avatar :src="avatar" :size="100">
        <img src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png" />
      </el-avatar>
      <h1 :class="{ hasNickame: nickname }">{{ nickname || '请登录' }}</h1>
    </div>

    <el-button size="large" round @click="login('向晚')"> 一键登录 </el-button>
  </div>
</template>
<script lang="ts" setup>
  import useUserStore from '@store/user';

  const userStore = useUserStore();
  const { nickname, avatar, login } = $(userStore);
</script>
<style scoped lang="scss">
  .main {
    color: #303133;
    text-align: center;
    .user {
      padding: 20px;
      margin: 20px;
      background-color: #f2f6fc;
      border-radius: 20px;
      .hasNickame {
        color: #ea7a99;
      }
    }
  }
</style>
