<template>
  <div>{{ msg }}</div>
</template>
<script setup lang="ts">
  defineProps({
    msg: String,
  });
  onMounted(() => {
    console.log('test mounted.');
  });
</script>
<style scoped lang="scss"></style>
