<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script lang="ts" setup>
  // import { onMounted } from 'vue';

  onMounted(() => {
    console.log('App mounted.');
  });
</script>
